/* Importing Fonts */
@font-face {
  font-family: 'Hagrid';
  src: url('/public/hagrid/Hagrid-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hagrid Italic';
  src: url('/public/hagrid/Hagrid-Regular-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('/public/Neue/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Neue Machina', sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Hagrid', sans-serif;
  color: #6df0c0;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 85vh;
}

.animate-on-scroll {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}

.animate-in-view {
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
